:root{
  --pink: palevioletred;
}
body{
  
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  color: white;
  
}
.logo{
  color: white;
}
.logo a:hover{
  color: var(--pink);
}
header,
main{
  margin: 0 auto;
  max-width: 1500px;
  background-color: black;
}
main{
  position: relative;
}
a,
a:link,
a:visited{
  color: white;
  height: max-content;
  text-decoration: none;
}
.cv,
.cv:visited{
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px;
  font-weight: 500;
  cursor: pointer;
}
.cv:hover{
  color: white;
  background-color: var(--pink);
}
#About,
#Proyects,
#Skills,
#Contact{
  padding-top: 80px;
}
.redes-nav{
  width: max-content;
  position: fixed;
  bottom: 150px;
  left: 10px;
}
.redes-nav::before{
  content: '';
  width: 1px;
  height: 130px;
  background-color: white;
  position: absolute;
  left: 60%;
  bottom: -150px;
}
.redes-nav ul li a > .icon,
.container-proyect ul li a > .icon{
  width: 30px;
  height: 30px;
  stroke: white;
}
.redes-nav > .nav-item{
  width: max-content;
  height: max-content;
  margin: 5px auto;
}
.primary-menu{
  margin: 0 auto;
}
.nav-link:hover{
  color: palevioletred !important;
}
.redes > li > a svg:hover{
  stroke: rgba(235, 140, 172, 0.704);
  transform: scale(1.1);
}
.bi{
  width: 30px;
  height: 30px;
  fill: white;
  margin: 0 5px;
} 
#Home{
  min-height: calc(100vh - 160px);
  height: max-content;
  background-color: black;
  overflow: hidden;
}
.about > img{
  position: relative;
  /* max-width: 350px; */
  max-height: 500px;
  overflow: hidden;
  border-radius: 41% 59% 31% 69% / 74% 25% 75% 26%  ;
  border: 1px solid transparent;
  background-color: palevioletred;
  overflow: hidden;
  filter: blur();
}
.about-Subtitle,
.proyects-Subtitle,
.skills-Subtitle,
.contac-subtitle{
  width: max-content;
  position: relative;
  font-size: 2rem;
  color: white;
}
.about-Subtitle::before,
.proyects-Subtitle::before,
.skills-Subtitle::before{
  content: '';
  width: 300px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 60%;
  left: 110%;
}

#About .text{
  font-size: 1.2rem;
  margin: 30px 0;
}
.nav-link.active,
.active{
  color: #d87093c6 !important;
  text-decoration: underline;
}
.hi{
  font-size: 1.5rem;
}
.text{
  font-size: 1.5rem;
}

#Proyects img{
  filter: grayscale(47%) sepia(100%) brightness(93%) hue-rotate(263deg) saturate(344%) opacity(83%) contrast(116%) invert(6%);
-webkit-filter: grayscale(47%) sepia(100%) brightness(93%) hue-rotate(263deg) saturate(344%) opacity(83%) contrast(116%) invert(6%);
-moz-filter: grayscale(47%) sepia(100%) brightness(93%) hue-rotate(263deg) saturate(344%) opacity(83%) contrast(116%) invert(6%);
  transition: all .2s linear;
}
#Proyects img:hover{
  filter: none;
}
#Proyects > .container > div{
  margin: 70px auto;
}
#Proyects > .container > div> div{
  min-width: 250px;
}
#Skills{
  color: white;
}
#Skills p{
  color: white;
  font-size: 1.1rem;
}
.container-skills{
  width: 80%;
  margin: 80px auto 0;
}
.container-technologies-section{
  width: 80%;
  margin: 60px auto 0px;
}
.container-technologies-section > h2{
  width: 50vw;
  min-width: 250px;
  max-width: 500px;

}
.container-skills > div > h3{
  width: 30%;
  min-width: 200px;
  max-width: 250px;
  text-align: left;
  margin: 0 20px;
}
.icons{
  margin: 0 10px;
  text-align: center;
  filter: brightness(0.6);
  cursor: pointer;
}
.icons > img{
  width: 40px;
  height: 40px;
}
.icons:hover{
  filter: brightness(1.5);
}
.icons h3{
  font-size: 1.2rem;
  text-align: center;
  margin: 5px;
  font-weight: 300;
}
#Contact{
  min-height: 80vh;
  height: max-content;
  
}
.contac-subtitle{
  margin: 0 auto;
}
.contac-subtitle::after{
  content: '';
  width: 600px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 60%;
  left: 110%;
}
.contac-subtitle::before{
  content: '';
  width: 600px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 60%;
  right: 110%;
}
#Contact > div{
  height: 50vh;
  min-height: max-content;

}
#Contact > div > p{
  color: white;
  width: 70%;
  min-width: 280px;
  margin: 50px auto;
  text-align: center;
}
.contact-Icons li a svg{
width:45px;
height:45px;
stroke: black;
transform: all .5s linear;
}
.contact-Icons li a{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  transform: all .5s linear;
}
.contact-Icons li a:hover{
  background-color: var(--pink);
  padding: 20px;
}
.contact-Icons li a:hover svg{
  stroke: white;
}

@media  (max-width: 1200px){
  .container-technologies-section{
    justify-content: center;
    align-items: center;
  }
  .container-technologies-section > div{
    flex-flow: wrap;
  }
  .icons{
    margin: 10px;
  }
}
@media  (min-width: 870px){
  header{
    padding: 0px 15px;
  }
}
@media  (max-width: 870px){
  .container-technologies-section{
    flex-flow: wrap;
    margin: 10px auto;
  }
  .container-skills > div > h3{
    width: 100%;
    min-width: 200px;
    max-width: none;
    text-align: center;
    margin: 30px auto;
  }
  .container-technologies-section > div{
    width: 100%;
    justify-content: center;
  }
}
@media  (max-width: 767px){
  .logo{
    order: 3;
  }
  .login{
    order: 4;
  }
  .hamburger{
    order: 1;
  }
  .redes{
    order: 2;
    justify-self: flex-start;
  }
  .desplegable{
    order: 4
  }
}